
*{
    box-sizing: border-box;
}

button
{
    cursor: pointer;
}
body
{
    background-color: aqua;
}

.style1{
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    gap: 2em;
    justify-content: space-evenly;
}

.media
{
    width: 50%;
}

.main-image
{
    width: 50%;
}